//Mixin grid "Mis conocimientos"

mixin grid(imageUrl, title, message)
	.col.s12.m4
		.icon-block.center-align
			img(src=imageUrl)
			h5.libre-baskerville #{title}
			p.source-sans-pro.light.justify-align !{message}
			
//Mixin horizontal line for titles

mixin horizontal-line(title)
	h2.section-title.horizontal-line #{title}
	
//Mixin tag manager head

mixin tag-manager-head()
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KBKHFT8');
	
//Mixin tag manager body

mixin tag-manager-body()
	noscript
		iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KBKHFT8', height='0', width='0', style='display:none;visibility:hidden')